[Desktop Entry]
Name=NoxForge Obsidian
Comment=Pure pitch-black OLED Aurorae decoration with Forge Notch details
X-KDE-PluginInfo-Author=Loofi
X-KDE-PluginInfo-Email=loofi@loofi.com
X-KDE-PluginInfo-Name=io.github.loofiboss.noxforge.obsidian.desktop
X-KDE-PluginInfo-Version=13.0.1
X-KDE-PluginInfo-Website=https://github.com/loofiboss-bit/NoxForge
X-KDE-PluginInfo-License=MIT
