pkgbase = noxforge
	pkgdesc = Forge Identity Plasma components for Fedora and Arch KDE
	pkgver = 8.0.0
	pkgrel = 1
	url = https://github.com/loofiboss-bit/NoxForge
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = ninja
	makedepends = python
	makedepends = qt6-declarative
	makedepends = kirigami
	depends = breeze-icons
	depends = kwin
	depends = plasma-workspace
	depends = qt6-base
	optdepends = sddm: optional NoxForge login-screen component
	source = https://github.com/loofiboss-bit/NoxForge/releases/download/v8.0.0/noxforge-8.0.0-source.tar.xz
	sha256sums = dc5bf0455b31f66e4d87096ee6b3912d0e5e4969781d0fd8b4b969570aa19f55

pkgname = noxforge
